/* Header Section */

.navbar-light {
    background-color: transparent !important;
    transition: 0.5s ease;
}

.navbar-light.scrolled {
    background: #fadadd !important;
}

.fixed-bg {
    background-image: url('img/trybg1.png');
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-intro {
    padding-top: 130px;
    display: block;
    text-align: center;
}

.section-intro span.title2 {
    padding: 18px;
    letter-spacing: 10px;
}

.title2 {
    font-family: 'Fantasy';
    font-size: 80px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    color: #744a14;
}

.navbar-brand span {
    font-size: 8mm;
    font-family: 'Rouge Script';
    color: rgb(78, 68, 34);
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown-menu {
    margin-top: 0;
    background-color: #fadadd;
}

#navbarMenu a {
    margin-right: 30px;
    font-size: 14px;
    font-family: 'Comfortaa', cursive;
    color: rgb(78, 68, 34);
    border-bottom: 2px solid transparent;
    transition: 0.3s ease;
}

#navbarMenu a:hover {
    border-bottom: 2px solid rgb(78, 68, 34);
}

/* End Header Section */

/* Footer Section */

body {
    background-size: cover;
}

h3 {
    color: #F0FFF0;
    font-family: 'Comfortaa';
    font-weight: 800;
}

.font-weight-bold {
    font-size: 15px;
    font-family: 'Comfortaa';
    font-weight: 700;
    color: white;
}

.footer-copyright {
    background-color: #8a5f56;
    font-size: 12px;
    font-family: 'Comfortaa';
    color: white;
}

.container-fluid {
    padding: 7em;
}

textarea {
    border: 3px solid #8a5f56;
    border-radius: 5px;
}

.submit-button {
    font-family: 'Comfortaa';
    font-size: 10px;
    color: white;
    background: #8a5f56;
    border: 1px solid gray;
    padding: 6px;
    width: 20%;
    border-radius: 10px;
    cursor: pointer;
}

/* End Footer Section */