@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600;700&display=swap');
* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

.bodycolor {
    background-color: #ffffff;
}

a {
    text-decoration: none;
    position: relative;
}

h1 {
    padding-top: 50px;
    font-family: 'Comfortaa', cursive;
    font-size: 40px;
    font-weight: 700;
}

.container {
    display: flex;
}


/* Hero Section*/

.carousel-inner>.item>a>img,
.carousel-inner>.item>img {
    line-height: 1;
}

.carousel-item img {
    margin: auto;
    display: block !important;
}

.carousel-indicators li {
    width: 40px;
    height: 6px;
    margin-right: 4px;
    margin-left: 4px;
}

/* End Hero Section*/


/* Favorites Section */

#favheader {
    background-color: white;
}

.card-title {
    font-size: 18px;
}

.card-text {
    font-size: 14px;
}

/* End Favorites Section */


/* Menu Section */

.center {
    margin: 0;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.centerimage {
    width: 85%;
    margin-left: 30px;
}

.container1,
.container2 {
    width: 50%;
}

.image {
    opacity: 1;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container1:hover .image {
    opacity: 0.5;
}

.container1:hover .middle {
    opacity: 1;
}

.container2:hover .image {
    opacity: 0.5;
}

.container2:hover .middle {
    opacity: 1;
}

.text {
    background-color: #725527;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.textcolor {
    color: #725527;
}

.card {
    background-color: #faf4f4;
}

.card:hover {
    -webkit-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
}


/* End Menu Section */


/*==========Media Queries for Desktop==========*/


/* Devices under 1199px (xl) */

@media only screen and (max-width: 1199.98px) {}


/* Devices under 992px (l) */

@media only screen and (max-width: 991.98px) {
    .navbar-toggler {
        display: block;
    }
}

@media only screen and (max-width: 767px) {}

@media only screen and (max-width: 575px) {}