@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');
* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

.bodycolor {
    background-color: white;
}

a {
    text-decoration: none;
    position: relative;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}


/* Header Section */

.navbar-light {
    background: #fadadd !important;
}

.fixed-bg {
    background-image: url('img/headerTapioca.png');
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-intro {
    padding-top: 130px;
    display: block;
    text-align: center;
}

.section-intro span.title2 {
    padding: 18px;
    letter-spacing: 10px;
}

.title2 {
    font-size: 80px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
}

.navbar-brand span {
    font-size: 8mm;
    font-family: 'Rouge Script';
    color: rgb(78, 68, 34);
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown-menu {
    margin-top: 0;
    background-color: #fadadd;
}

#navbarMenu a {
    margin-right: 30px;
    font-size: 14px;
    font-family: 'Comfortaa', cursive;
    color: rgb(78, 68, 34);
    border-bottom: 2px solid transparent;
    transition: 0.3s ease;
}

#navbarMenu a:hover {
    border-bottom: 2px solid rgb(78, 68, 34);
}

/* End Header Section */


/* Menu Section */

.centerimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.textcolor {
    color: #4d463e;
}

.card {
    margin-left: auto;
    margin-right: auto;
    width: 24rem;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}

.card:hover {
    -webkit-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
}

.jumbotron {
    background-color: white;
}


/* End Menu Section */


/* Footer Section */

body {
    background-size: cover;
}

h3 {
    color: #F0FFF0;
    font-family: 'Comfortaa';
    font-weight: 800;
}

.font-weight-bold {
    font-size: 15px;
    font-family: 'Comfortaa';
    font-weight: 700;
    color: white;
}

.footer-copyright {
    background-color: #8a5f56;
    font-size: 12px;
    font-family: 'Comfortaa';
    color: white;
}

.container-fluid {
    padding: 7em;
}

textarea {
    border: 3px solid #836953;
    border-radius: 5px;
}

input[class="submit"] {
    font-family: 'Comfortaa';
    font-size: 12px;
    color: white;
    background: #836953;
    border: darkslategray 1px solid;
    padding: 12px;
    width: 30%;
    border-radius: 10px;
    cursor: pointer;
}


/* End Footer Section */