@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');

*{
    padding: 0;
    margin: 0;
}

html{
    font-size: 10px;
    scroll-behavior: smooth;
}

.bodycolor{
    background-color: #d0f0c0;
}

a{
    text-decoration: none;
    position: relative;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Header Section */
.bg-custom{
    background-color: rgba(91, 143, 61, 0.8);
    border-color: transparent;
}

.navbar-brand span {
    font-size: 8mm;
    font-family: 'Rouge Script', cursive;
    color: white;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

.dropdown-menu {
    margin-top: 0;
    background-color: rgba(91, 143, 61, 0.8);
}

#navbarMenu a{
    margin-right: 10px;
    padding-right: 30px;
    font-size: 14px;
    font-family: 'Comfortaa', cursive;
    color: honeydew;
}

#navbarMenu a:hover{
    color: #725527;
}
/* End Header Section */

/* Milktea Seperate Per Product Page */
.center {
    margin: 0;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.centerimage {
    display: block;
    margin-top: 25%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

b {
    font-size: 12px;
}

p {
    font-size: 14px;
}

h4 {
    font-size: 18px;
    font-weight: bold;
}

h6 {
    font-size: 12px;
}

.card {
    border: 3px solid #836953;
    border-radius: 5px;
}

.select-size,
.select-toppings,
.select-addons {
    display: block;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 700;
    border: none;
    border-bottom: 1px #725527 solid;
    background-color: white;
}

input[class="review"] {
    font-family: 'Comfortaa';
    font-size: 12px;
    color: white;
    background: #987654;
    border: darkslategray 1px solid;
    text-align: center;
    padding: 12px;
    width: 17%;
    border-radius: 10px;
    cursor: pointer; 
}
/* End Milktea Seperate Per Product Page */

/* Footer Section */
body {
    background-size: cover;
}

.font-weight-bold {
    font-size: 15px;
    font-family: 'Comfortaa'; 
    font-weight: 700;
    color: white;
}
  
footer {
    width: 100% !important;
    background-color: #4d5d53;
}

.footer-copyright {
    background-color: #37413b;
    font-size: 12px;
    font-family: 'Comfortaa'; 
    color: #f0ead6;
}

.container-fluid {
    padding: 7em;
}

textarea {
    border: 3px solid #836953;
    border-radius: 5px;
}

input[class="submit"] {
    font-family: 'Comfortaa';
    font-size: 12px;
    color: white;
    background: #836953;
    border: darkslategray 1px solid;
    padding: 12px;
    width: 30%;
    border-radius: 10px;
    cursor: pointer; 
}
/* End Footer Section */
