@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');

*{
    padding: 0;
    margin: 0;
}

html{
    font-size: 10px;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    position: relative;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Header Section */

.navbar-light {
    background: #fadadd !important;
}

.fixed-bg {
    background-image: url('img/headerTapioca.png');
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-intro {
    padding-top: 130px;
    display: block;
    text-align: center;
}

.section-intro span.title2 {
    padding: 18px;
    letter-spacing: 10px;
}

.title2 {
    font-size: 80px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    /*background-color: rgba(0, 0, 0, 0);*/
}

.navbar-brand span {
    font-size: 8mm;
    font-family: 'Rouge Script';
    color: rgb(78, 68, 34);
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown-menu {
    margin-top: 0;
    background-color: #fadadd;
}

#navbarMenu a {
    margin-right: 30px;
    font-size: 14px;
    font-family: 'Comfortaa', cursive;
    color: rgb(78, 68, 34);
    border-bottom: 2px solid transparent;
    transition: 0.3s ease;
}

#navbarMenu a:hover {
    border-bottom: 2px solid rgb(78, 68, 34);
}

/* End Header Section */

/* Milkshake Seperate Per Product Page */
.center {
    margin: 0;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.centerimage {
    display: block;
    margin-top: 25%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

b {
    font-size: 15px;
}

p {
    font-size: 13px;
}

h4 {
    font-size: 20px;
    font-weight: bold;
}

h6 {
    font-size: 12px;
}

.semi-card {
    margin-top: 100px; 
    border: 3px solid #836953; 
    border-radius: 5px;
}

.select-size,
.select-toppings,
.select-addons {
    display: block;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 700;
    border: none;
    border-bottom: 1px #725527 solid;
    background-color: white;
}

input[class="review"] {
    font-family: 'Comfortaa';
    font-size: large;
    color: white;
    background: #987654;
    border: darkslategray 1px solid;
    text-align: center;
    padding: 12px;
    width: 17%;
    border-radius: 10px;
    cursor: pointer; 
}

input[type="radio"] {
    transform: scale(1.5);
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: white;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid gray;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: white;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 4px solid #d98695;
}

input[type="checkbox"] {
    transform: scale(1.5);
}

input[type='checkbox']:after {
    width: 15px;
    height: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: white;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid gray;
}

input[type='checkbox']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 3px;
    top: -2px;
    left: -1px;
    position: relative;
    background: red;
}

/* End Milkshake Seperate Per Product Page */

